@{
    ViewData["Title"] = "Recover password";
}

<div class="d-flex align-items-center justify-content-center w-100 mh-100">
    <form class="mt-5 bg-dark shadow-lg rounded p-5 text-light w-50" method="post"
          asp-action="RecoverPassword">
        <h3 class="">Recover Password</h3>
        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }
        <div class="mb-3">
            <label for="email">Email</label>
            <input id="email" name="email" class="form-control" placeholder="Type the email"/>
        </div>
        <button class="btn btn-success px-5 w-100" type="submit">Send recovery email</button>
    </form>
</div>