.header-partial {
    height: 6rem;
}

.header-partial nav {
    top: 16px;
    max-width: var(1280px);
    padding: 10px 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
}
